
@{
    ViewBag.Title = "Index";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brands</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <i class="icon-reorder shaded"></i>
                </a><a class="brand" href="Home.html">Brands</a>
                <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav pull-right">
                        <li class="nav-user dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Account &ensp; <i class="fa fa-user" class="nav-avatar"></i>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Information</a></li>
                                <li><a asp-area="" asp-controller="Login" asp-action="Index"> &ensp; Logout</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="sidebar">
                        <ul class="widget widget-menu unstyled">
                            <li class="active">
                                <a href="Home.html"><i class="fas fa-ellipsis-h"></i> &ensp; Dashboard</a>
                            </li>
                            <li>
                                <a class="fas fa-dolly" asp-area="" asp-controller="Order" asp-action="Index"> &ensp; Order Management</a>
                            </li>
                            <li>
                                <a class="fas fa-user" asp-area="" asp-controller="User" asp-action="Index"> &ensp; User Management</a>
                            </li>
                            <li>
                                <a class="fas fa-pager" asp-area="" asp-controller="Brands" asp-action="Index"> &ensp; Brand Management</a>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#sp">
                                    <i class="fas fa-bars"></i>&ensp; Product Management
                                </a>
                                <ul id="sp" class="collapse unstyled">
                                    <li><a asp-area="" asp-controller="Hair" asp-action="Index"> &ensp; Hair care</a></li>
                                    <li><a asp-area="" asp-controller="Makeup" asp-action="Index"> &ensp; Makeup</a></li>
                                    <li><a asp-area="" asp-controller="Skin" asp-action="Index"> &ensp; Skin care</a></li>
                                    <li><a asp-area="" asp-controller="Body" asp-action="Index"> &ensp; Body care</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="span9">
                    <div class="content">
                        <div class="module">
                            <div class="module-head">
                                <h3>Details</h3>
                            </div>
                            <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered display" width="100%">
                                <div class="module-option clearfix">
                                    <form>
                                        <div class="input-append pull-left">
                                            <input type="text" class="span3" placeholder="Search here">
                                            <button type="submit" class="btn">
                                                <i class="fas fa-search"></i>
                                            </button>
                                            <br>
                                            <br>
                                            <input type="text" class="span1" placeholder="Brand">
                                        </div>
                                        <div class="input-append pull-right">
                                            <button name="btn" class="btn btn-success" type="submit">Add+</button>
                                            <br>
                                            <br>
                                            <button name="btn" class="btn btn-success" type="submit">Filters</button>
                                        </div>
                                    </form>
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Brand</th>
                                            <th>Nationality</th>
                                            <th>Photo</th>
                                            <th>Created</th>
                                            <th>Description</th>
                                            <th>Manage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="o1">
                                            <td>123</td>
                                            <td>Hada Labo</td>
                                            <td>Japan</td>
                                            <td>
                                                <img src="~/pic/hadalabo.jpg" />
                                            </td>
                                            <td>1/1/2004</td>
                                            <td>Hada Labo là thương hiệu dưỡng da của Nhật Bản được Rohto Pharmaceutical phát triển. Thương hiệu được biết đến nhiều nhất với các sản phẩm axit hyaluronic và cung cấp các loại túi dây kéo đầy thân thiện với môi trường</td>
                                            <td>
                                                View
                                                <br>
                                                Modify
                                                <br>
                                                Detele
                                            </td>
                                        </tr>
                                        <tr class="o2">
                                            <td>456</td>
                                            <td>Garnier</td>
                                            <td>France</td>
                                            <td>
                                                <img src="~/pic/garnier.jpg" />
                                            </td>
                                            <td>1/1/1904</td>
                                            <td>Garnier là một thương hiệu mỹ phẩm có thị trường rộng lớn của công ty mỹ phẩm L'Oréal Pháp. Chuyên sản xuất các sản phẩm chăm sóc tóc và dưỡng da</td>
                                            <td>
                                                View
                                                <br>
                                                Modify
                                                <br>
                                                Detele
                                            </td>
                                        </tr>
                                        <tr class="o3">
                                            <td>789</td>
                                            <td>Kiehl's</td>
                                            <td>US</td>
                                            <td>
                                                <img src="~/pic/kiehls.jpg" />
                                            </td>
                                            <td>1/1/1851</td>
                                            <td> Kiehl's là một thương hiệu mỹ phẩm Hoa Kỳ chuyên kinh doanh sản phẩm dưỡng da, tóc và dưỡng thể cao cấp. Khởi đầu từ một hiệu thuốc đơn lẻ ở Manhattan tại Đại lộ Thứ ba và phía đông tuyến đường 13 vào năm 1851. Kiehl's đã được L'Oréal mua vào năm 2000 và hiện có hơn 250 cửa hàng</td>
                                            <td>
                                                View
                                                <br>
                                                Modify
                                                <br>
                                                Detele
                                            </td>
                                        </tr>
                                    </tbody>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>

