@model IEnumerable<Admin.Models.Brand>
@{
    ViewBag.Title = "addHair";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="module span10 offset1">
                    <form class="form-vertical" action="/Hair/InsertHair" method="post">
                        <div class="module-head">
                            <h3>Add HairCare Product</h3>
                        </div>
                        <div class="module-option clearfix">
                            <div class="media-body">
                                <table cellpadding="3" style="width: 100%">
                                    <tr>
                                        <td width="10%">Product Name </td>
                                        <td width="100%">
                                            <input type="text" name="Tensp" class="span3" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Photo</td>
                                        <td width="100%">
                                            <input type="text" name="Photo" class="span2">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Cost</td>
                                        <td width="100%">
                                            <input type="text" name="Cost" class="span7">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Product type</td>
                                        <td>
                                            <select name="Loaisp" style="margin-top: 10px; padding: 3px;">
                                                <option value="2">Body care</option>
                                                <option value="3">Hair care</option>
                                                <option value="1">Skin care</option>
                                                <option value="4">Makeup</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Brand</td>
                                        <td>
                                            <select name="MaBrand" id="Name" style="margin-top: 10px; padding: 3px;">
                                                @foreach (var item in Model)
                                                {
                                                    <option value="@item.BrandID">@item.TenNcc</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Quantity</td>
                                        <td width="100%">
                                            <div class="input-prepend">
                                                <input class="span1" name="qty" type="text" required>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <span>Description</span>
                                        <br>
                                        <div class="row-fluid">
                                            <textarea class="span12" name="Description" style="height: 280px; resize: none;"></textarea>
                                        </div>

                                    </tr>
                                </table>
                                <center>
                                    <input type="submit" class="btn btn-success" value="Insert" style="margin-top: 10px;"> &nbsp;
                                    <a asp-area="" asp-controller="Hair" asp-action="Index" class="btn btn-info" style="margin-top: 10px;">Back</a>
                                </center>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>